* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background: #b7deed;
  background: linear-gradient(
    to right,
    #b7deed 0%,
    #71ceef 25%,
    #21b4e2 75%,
    #b7deed 100%
  );

  min-height: 100vh;
}

main {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  padding: 100px 80px;
  border-radius: 10px;
}

#select-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

select {
  margin: 10px 20px;
  padding: 7px 15px;
  outline: none;
}

input {
  background-color: #fff;
  min-width: 350px;
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 0.5s;
}

input:focus {
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

#convert {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s transform;
}
#convert:active {
  transform: scale(0.9);
}

#swap {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s transform;
}

#swap:active {
  transform: scale(0.9);
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#result-box {
  color: rgb(0, 0, 0);
}
